body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #fffaf4;
}

.container {
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b2226;
    border-radius: 10px; 
}

button {
    box-sizing: border-box;
    margin: 0;
    width: 75px;
    height: 75px;
    background-color: #e5e5e5;
    border-radius: 5px;
    color: red;
}

button:active {
    opacity: 0.8;
}

.number {
    color: black;
}

.btn-equal, .btn-point {
    color: blue;
}

.screen {
    margin-top: 20px;
    box-sizing: border-box;
    width: 360px;
    height: 150px;
    background-color: #91989c;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
}

.top-screen {
    font-size: 36px;
    color: hsla(0, 0%, 0%, 0.80);
    padding: 10px 15px 0 0;
}

.result {
    font-size: 64px;
    font-weight: 500;
    color: black;
    padding: 0 5px 5px 0;
}

.clear-delete {
    margin-top: 30px;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.clear {
    margin: 0;
    width: 170px;
    height: 75px;
    background-color: #7c7abd;
    color: black;
}

.delete {
    margin: 0;
    width: 170px;
    height: 75px;
    background-color: #e85c4f;
    color: black;
}

.buttons {
    flex: 1;
    margin: 25px 0 15px 0;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-between;

}